*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

html, body{
    width: 100%;
}
body{
    background-color: #171717;
    color:aliceblue;
}
.container{
    margin: 10px 20%;
    border: 2px solid aquamarine;
    padding: 15px;
}

p{
    font-size: 25px;
}
h1{
    font-size:35px;
}

p, h1, h2{
    margin-top: 5px;
}